 /*#region icon 属性 */
/*
 *----------------------------
 * 属性图片
 *----------------------------
 */
 .icon.icon-attr
{
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-image: url('../images/attr/attrs.png');
	background-position-y:calc(36px);
	background-repeat: no-repeat;
	vertical-align: bottom;
}
.attr[data-attr-icon='any'],
.attr[data-attr-icon='self']
{
	background-position-x: -36px;
	background-position-y:calc(-36px * 0);
}
.attr[data-attr-icon='fixed']
{
	background-position-x: -36px;
	background-position-y:calc(-36px * 1);
}

.attr[data-attr-icon='-1']
{
	width: auto;
}
.icon.icon-attr[data-attr-icon='0'] {
	background-position-y:calc(-36px * 0);
}
.icon.icon-attr[data-attr-icon='1'] {
	background-position-y:calc(-36px * 1);
}
.icon.icon-attr[data-attr-icon='2']
{
	background-position-y:calc(-36px * 2);
}
.icon.icon-attr[data-attr-icon='3']
{
	background-position-y:calc(-36px * 3);
}
.icon.icon-attr[data-attr-icon='4']
{
	background-position-y:calc(-36px * 4);
}
.icon.icon-attr[data-attr-icon='5']
{
	background-position-y:calc(-36px * 5);
}
.icon.icon-attr[data-attr-icon='6']
{
	background-position-y:calc(-36px * 6);
}
/*#endregion*/

 /*#region icon タイプ */
 /*
 *----------------------------
 * タイプ
 *----------------------------
 */
 .type-icon
 {
	 background-image: url(../images/type.png);
	 background-position-x: 0;
	 background-position-y: 32px; /*默认不显示*/
 }
 .type-icon[data-type-icon='0']
 {/*进化用*/
	 background-position-y:calc(-32px * 0);
 }
 .type-icon[data-type-icon='1']
 {/*平衡*/
	 background-position-y:calc(-32px * 1);
 }
 .type-icon[data-type-icon='2']
 {/*体力*/
	 background-position-y:calc(-32px * 2);
 }
 .type-icon[data-type-icon='3']
 {/*回复*/
	 background-position-y:calc(-32px * 3);
 }
 .type-icon[data-type-icon='4']
 {/*龙*/
	 background-position-y:calc(-32px * 4);
 }
 .type-icon[data-type-icon='5']
 {/*神*/
	 background-position-y:calc(-32px * 5);
 }
 .type-icon[data-type-icon='6']
 {/*攻击*/
	 background-position-y:calc(-32px * 6);
 }
 .type-icon[data-type-icon='7']
 {/*恶魔*/
	 background-position-y:calc(-32px * 7);
 }
 .type-icon[data-type-icon='8']
 {/*机械*/
	 background-position-y:calc(-32px * 8);
 }
 .type-icon[data-type-icon='9']
 {/*特别保护*/
	 background-position-y:calc(-32px * 9);
 }
 .type-icon[data-type-icon='12']
 {/*能力觉醒用*/
	 background-position-y:calc(-32px * 12);
 }
 .type-icon[data-type-icon='14']
 {/*强化合成用*/
	 background-position-y:calc(-32px * 14);
 }
 .type-icon[data-type-icon='15']
 {/*贩卖用*/
	 background-position-y:calc(-32px * 15);
 }
/*#endregion*/

 /*#region icon 属性 */
/*觉醒、类型、潜觉*/
.awoken-icon,
.type-icon
{
	display:inline-block;
	width:32px;
	height:32px;
	vertical-align: middle;
	background-repeat: no-repeat;
}
/*觉醒*/
.awoken-icon{
	background-image: url(../images/awoken.png);
	background-position-x: 0;
}
.awoken-icon[data-awoken-icon='0']{/*问号*/
	background-position-y:calc(-32px * 0);
}
.awoken-icon[data-awoken-icon='1']{/*HP+*/
	background-position-y:calc(-32px * 1);
}
.awoken-icon[data-awoken-icon='2']{/*攻击+*/
	background-position-y:calc(-32px * 2);
}
.awoken-icon[data-awoken-icon='3']{/*回复+*/
	background-position-y:calc(-32px * 3);
}
.awoken-icon[data-awoken-icon='4']{/*火盾*/
	background-position-y:calc(-32px * 4);
}
.awoken-icon[data-awoken-icon='5']{/*水盾*/
	background-position-y:calc(-32px * 5);
}
.awoken-icon[data-awoken-icon='6']{/*木盾*/
	background-position-y:calc(-32px * 6);
}
.awoken-icon[data-awoken-icon='7']{/*光盾*/
	background-position-y:calc(-32px * 7);
}
.awoken-icon[data-awoken-icon='8']{/*暗盾*/
	background-position-y:calc(-32px * 8);
}
.awoken-icon[data-awoken-icon='9']{/*自回*/
	background-position-y:calc(-32px * 9);
}
.awoken-icon[data-awoken-icon='10']{/*防封*/
	background-position-y:calc(-32px * 10);
}
.awoken-icon[data-awoken-icon='11']{/*防暗*/
	background-position-y:calc(-32px * 11);
}
.awoken-icon[data-awoken-icon='12']{/*防废*/
	background-position-y:calc(-32px * 12);
}
.awoken-icon[data-awoken-icon='13']{/*防毒*/
	background-position-y:calc(-32px * 13);
}
.awoken-icon[data-awoken-icon='14']{/*火+*/
	background-position-y:calc(-32px * 14);
}
.awoken-icon[data-awoken-icon='15']{/*水+*/
	background-position-y:calc(-32px * 15);
}
.awoken-icon[data-awoken-icon='16']{/*木+*/
	background-position-y:calc(-32px * 16);
}
.awoken-icon[data-awoken-icon='17']{/*光+*/
	background-position-y:calc(-32px * 17);
}
.awoken-icon[data-awoken-icon='18']{/*暗+*/
	background-position-y:calc(-32px * 18);
}
.awoken-icon[data-awoken-icon='19']{/*手指*/
	background-position-y:calc(-32px * 19);
}
.awoken-icon[data-awoken-icon='20']{/*心解*/
	background-position-y:calc(-32px * 20);
}
.awoken-icon[data-awoken-icon='21']{/*SB*/
	background-position-y:calc(-32px * 21);
}
.awoken-icon[data-awoken-icon='22']{/*火横*/
	background-position-y:calc(-32px * 22);
}
.awoken-icon[data-awoken-icon='23']{/*水横*/
	background-position-y:calc(-32px * 23);
}
.awoken-icon[data-awoken-icon='24']{/*木横*/
	background-position-y:calc(-32px * 24);
}
.awoken-icon[data-awoken-icon='25']{/*光横*/
	background-position-y:calc(-32px * 25);
}
.awoken-icon[data-awoken-icon='26']{/*暗横*/
	background-position-y:calc(-32px * 26);
}
.awoken-icon[data-awoken-icon='27']{/*U*/
	background-position-y:calc(-32px * 27);
}
.awoken-icon[data-awoken-icon='28']{/*SX*/
	background-position-y:calc(-32px * 28);
}
.awoken-icon[data-awoken-icon='29']{/*心+*/
	background-position-y:calc(-32px * 29);
}
.awoken-icon[data-awoken-icon='30']{/*协力*/
	background-position-y:calc(-32px * 30);
}
.awoken-icon[data-awoken-icon='31']{/*龙杀*/
	background-position-y:calc(-32px * 31);
}
.awoken-icon[data-awoken-icon='32']{/*神杀*/
	background-position-y:calc(-32px * 32);
}
.awoken-icon[data-awoken-icon='33']{/*恶魔杀*/
	background-position-y:calc(-32px * 33);
}
.awoken-icon[data-awoken-icon='34']{/*机杀*/
	background-position-y:calc(-32px * 34);
}
.awoken-icon[data-awoken-icon='35']{/*平衡杀*/
	background-position-y:calc(-32px * 35);
}
.awoken-icon[data-awoken-icon='36']{/*攻击杀*/
	background-position-y:calc(-32px * 36);
}
.awoken-icon[data-awoken-icon='37']{/*体力杀*/
	background-position-y:calc(-32px * 37);
}
.awoken-icon[data-awoken-icon='38']{/*回复杀*/
	background-position-y:calc(-32px * 38);
}
.awoken-icon[data-awoken-icon='39']{/*进化杀*/
	background-position-y:calc(-32px * 39);
}
.awoken-icon[data-awoken-icon='40']{/*觉醒杀*/
	background-position-y:calc(-32px * 40);
}
.awoken-icon[data-awoken-icon='41']{/*强化杀*/
	background-position-y:calc(-32px * 41);
}
.awoken-icon[data-awoken-icon='42']{/*卖钱杀*/
	background-position-y:calc(-32px * 42);
}
.awoken-icon[data-awoken-icon='43']{/*7c*/
	background-position-y:calc(-32px * 43);
}
.awoken-icon[data-awoken-icon='44']{/*5色破防*/
	background-position-y:calc(-32px * 44);
}
.awoken-icon[data-awoken-icon='45']{/*心追*/
	background-position-y:calc(-32px * 45);
}
.awoken-icon[data-awoken-icon='46']{/*全体HP*/
	background-position-y:calc(-32px * 46);
}
.awoken-icon[data-awoken-icon='47']{/*全体回复*/
	background-position-y:calc(-32px * 47);
}
.awoken-icon[data-awoken-icon='48']{/*破无效*/
	background-position-y:calc(-32px * 48);
}
.awoken-icon[data-awoken-icon='49']{/*武器觉醒*/
	background-position-y:calc(-32px * 49);
}
.awoken-icon[data-awoken-icon='50']{/*方块心追*/
	background-position-y:calc(-32px * 50);
}
.awoken-icon[data-awoken-icon='51']{/*5色溜*/
	background-position-y:calc(-32px * 51);
}
.awoken-icon[data-awoken-icon='52']{/*大防封*/
	background-position-y:calc(-32px * 52);
}
.awoken-icon[data-awoken-icon='53']{/*大手指*/
	background-position-y:calc(-32px * 53);
}
.awoken-icon[data-awoken-icon='54']{/*防云*/
	background-position-y:calc(-32px * 54);
}
.awoken-icon[data-awoken-icon='55']{/*防封条*/
	background-position-y:calc(-32px * 55);
}
.awoken-icon[data-awoken-icon='56']{/*大SB*/
	background-position-y:calc(-32px * 56);
}
.awoken-icon[data-awoken-icon='57']{/*满血强化*/
	background-position-y:calc(-32px * 57);
}
.awoken-icon[data-awoken-icon='58']{/*下半血强化*/
	background-position-y:calc(-32px * 58);
}
.awoken-icon[data-awoken-icon='59']{/*L盾*/
	background-position-y:calc(-32px * 59);
}
.awoken-icon[data-awoken-icon='60']{/*L解锁*/
	background-position-y:calc(-32px * 60);
}
.awoken-icon[data-awoken-icon='61']{/*10c*/
	background-position-y:calc(-32px * 61);
}
.awoken-icon[data-awoken-icon='62']{/*c珠*/
	background-position-y:calc(-32px * 62);
}
.awoken-icon[data-awoken-icon='63']{/*语音*/
	background-position-y:calc(-32px * 63);
}
.awoken-icon[data-awoken-icon='64']{/*奖励增加*/
	background-position-y:calc(-32px * 64);
}
.awoken-icon[data-awoken-icon='65']{/*HP-*/
	background-position-y:calc(-32px * 65);
}
.awoken-icon[data-awoken-icon='66']{/*攻击-*/
	background-position-y:calc(-32px * 66);
}
.awoken-icon[data-awoken-icon='67']{/*回复-*/
	background-position-y:calc(-32px * 67);
}
.awoken-icon[data-awoken-icon='68']{/*大防暗*/
	background-position-y:calc(-32px * 68);
}
.awoken-icon[data-awoken-icon='69']{/*大防废*/
	background-position-y:calc(-32px * 69);
}
.awoken-icon[data-awoken-icon='70']{/*大防毒*/
	background-position-y:calc(-32px * 70);
}
.awoken-icon[data-awoken-icon='71']{/*掉废*/
	background-position-y:calc(-32px * 71);
}
.awoken-icon[data-awoken-icon='72']{/*掉毒*/
	background-position-y:calc(-32px * 72);
}
.awoken-icon[data-awoken-icon='73']{/*火串*/
	background-position-y:calc(-32px * 73);
}
.awoken-icon[data-awoken-icon='74']{/*水串*/
	background-position-y:calc(-32px * 74);
}
.awoken-icon[data-awoken-icon='75']{/*木串*/
	background-position-y:calc(-32px * 75);
}
.awoken-icon[data-awoken-icon='76']{/*光串*/
	background-position-y:calc(-32px * 76);
}
.awoken-icon[data-awoken-icon='77']{/*暗串*/
	background-position-y:calc(-32px * 77);
}
.awoken-icon[data-awoken-icon='78']{/*十字*/
	background-position-y:calc(-32px * 78);
}
.awoken-icon[data-awoken-icon='79']{/*3色*/
	background-position-y:calc(-32px * 79);
}
.awoken-icon[data-awoken-icon='80']{/*4色*/
	background-position-y:calc(-32px * 80);
}
.awoken-icon[data-awoken-icon='81']{/*5色*/
	background-position-y:calc(-32px * 81);
}
.awoken-icon[data-awoken-icon='82']{/*12珠*/
	background-position-y:calc(-32px * 82);
}
.awoken-icon[data-awoken-icon='83']{/*附加神类型*/
	background-position-y:calc(-32px * 83);
}
.awoken-icon[data-awoken-icon='84']{/*附加龙类型*/
	background-position-y:calc(-32px * 84);
}
.awoken-icon[data-awoken-icon='85']{/*附加恶魔类型*/
	background-position-y:calc(-32px * 85);
}
.awoken-icon[data-awoken-icon='86']{/*附加机械类型*/
	background-position-y:calc(-32px * 86);
}
.awoken-icon[data-awoken-icon='87']{/*附加平衡类型*/
	background-position-y:calc(-32px * 87);
}
.awoken-icon[data-awoken-icon='88']{/*附加攻击类型*/
	background-position-y:calc(-32px * 88);
}
.awoken-icon[data-awoken-icon='89']{/*附加体力类型*/
	background-position-y:calc(-32px * 89);
}
.awoken-icon[data-awoken-icon='90']{/*附加回复类型*/
	background-position-y:calc(-32px * 90);
}
.awoken-icon[data-awoken-icon='91']{/*附加火属性*/
	background-position-y:calc(-32px * 91);
}
.awoken-icon[data-awoken-icon='92']{/*附加水属性*/
	background-position-y:calc(-32px * 92);
}
.awoken-icon[data-awoken-icon='93']{/*附加木属性*/
	background-position-y:calc(-32px * 93);
}
.awoken-icon[data-awoken-icon='94']{/*附加光属性*/
	background-position-y:calc(-32px * 94);
}
.awoken-icon[data-awoken-icon='95']{/*附加暗属性*/
	background-position-y:calc(-32px * 95);
}
.awoken-icon[data-awoken-icon='96']{/*大U*/
	background-position-y:calc(-32px * 96);
}
.awoken-icon[data-awoken-icon='97']{/*大5色溜*/
	background-position-y:calc(-32px * 97);
}
.awoken-icon[data-awoken-icon='98']{/*大自回*/
	background-position-y:calc(-32px * 98);
}
.awoken-icon[data-awoken-icon='99']{/*大火+*/
	background-position-y:calc(-32px * 99);
}
.awoken-icon[data-awoken-icon='100']{/*大水+*/
	background-position-y:calc(-32px * 100);
}
.awoken-icon[data-awoken-icon='101']{/*大木+*/
	background-position-y:calc(-32px * 101);
}
.awoken-icon[data-awoken-icon='102']{/*大光+*/
	background-position-y:calc(-32px * 102);
}
.awoken-icon[data-awoken-icon='103']{/*大暗+*/
	background-position-y:calc(-32px * 103);
}
.awoken-icon[data-awoken-icon='104']{/*大心+*/
	background-position-y:calc(-32px * 104);
}
.awoken-icon[data-awoken-icon='105']{/*S-*/
	background-position-y:calc(-32px * 105);
}
.awoken-icon[data-awoken-icon='106']{/*浮游*/
	background-position-y:calc(-32px * 106);
}
.awoken-icon[data-awoken-icon='107']{/*大7c*/
	background-position-y:calc(-32px * 107);
}
.awoken-icon[data-awoken-icon='108']{/*大L解锁*/
	background-position-y:calc(-32px * 108);
}
.awoken-icon[data-awoken-icon='109']{/*大破无效*/
	background-position-y:calc(-32px * 109);
}
.awoken-icon[data-awoken-icon='110']{/*大十字*/
	background-position-y:calc(-32px * 110);
}
.awoken-icon[data-awoken-icon='111']{/*大10c*/
	background-position-y:calc(-32px * 111);
}
.awoken-icon[data-awoken-icon='112']{/*大3色*/
	background-position-y:calc(-32px * 112);
}
.awoken-icon[data-awoken-icon='113']{/*大4色*/
	background-position-y:calc(-32px * 113);
}
.awoken-icon[data-awoken-icon='114']{/*大5色*/
	background-position-y:calc(-32px * 114);
}
.awoken-icon[data-awoken-icon='115']{/*大心解*/
	background-position-y:calc(-32px * 115);
}
.awoken-icon[data-awoken-icon='116']{/*3火横*/
	background-position-y:calc(-32px * 116);
}
.awoken-icon[data-awoken-icon='117']{/*3水横*/
	background-position-y:calc(-32px * 117);
}
.awoken-icon[data-awoken-icon='118']{/*3木横*/
	background-position-y:calc(-32px * 118);
}
.awoken-icon[data-awoken-icon='119']{/*3光横*/
	background-position-y:calc(-32px * 119);
}
.awoken-icon[data-awoken-icon='120']{/*3暗横*/
	background-position-y:calc(-32px * 120);
}
.awoken-icon[data-awoken-icon='121']{/*大火串*/
	background-position-y:calc(-32px * 121);
}
.awoken-icon[data-awoken-icon='122']{/*大水串*/
	background-position-y:calc(-32px * 122);
}
.awoken-icon[data-awoken-icon='123']{/*大木串*/
	background-position-y:calc(-32px * 123);
}
.awoken-icon[data-awoken-icon='124']{/*大光串*/
	background-position-y:calc(-32px * 124);
}
.awoken-icon[data-awoken-icon='125']{/*大暗串*/
	background-position-y:calc(-32px * 125);
}
.awoken-icon[data-awoken-icon='126']{/*T字*/
	background-position-y:calc(-32px * 126);
}
.awoken-icon[data-awoken-icon='127']{/*三维*/
	background-position-y:calc(-32px * 127);
}
.awoken-icon[data-awoken-icon='127']{/*三维*/
	background-position-y:calc(-32px * 127);
}
.awoken-icon[data-awoken-icon='128']{/*阳之加护*/
	background-position-y:calc(-32px * 128);
}
.awoken-icon[data-awoken-icon='129']{/*阴之加护*/
	background-position-y:calc(-32px * 129);
}
/*#endregion*/
