.monster-search .search-condition-area {
	height: 400px;
	overflow: auto;
}

.icon-mask {
	/* top: 0px; */
	/* left: 0px; */
	filter: alpha(opacity=60);
	z-index: 1002;
	opacity: 0.5;
	-moz-opacity: 0.5;
}

.type {
	/* display: inline-block; */
	width: 32px;
	height: 32px;
	text-align: center;
	align-content: center;
	justify-content: center;
	/* color: chartreuse; */
	/* background-color: mediumpurple; */
	/* border: 1px solid; */
	/* border-color: aqua; */
	margin-right: 5px;
}

/* ------------------ */
/* 覚醒               */
/* ------------------ */
.row-awakenSkill {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	gap: 10px;
}
.row-awakenSkill span {
	display: inline-block;
	/* width: 100%; */
	margin: 0;
	padding: 5px;
}

.search-condition-area .awakenSkill.awoken-icon {
	margin-right: 5px;
	margin-top:   5px;
}

.search-condition-area .awakenSkill.awoken-icon:nth-child(10n) {
	background-color: blue;
	display:      inline-block;
	break-before: always;
	break-after:  always;
	break-inside: auto;
}
