.monster-search .search-condition-area {
	height: 300px;
	overflow: auto;
}

.icon-mask {
	/* top: 0px; */
	/* left: 0px; */
	filter: alpha(opacity=60);
	z-index: 1002;
	opacity: 0.5;
	-moz-opacity: 0.5;
}

.type {
	/* display: inline-block; */
	width: 32px;
	height: 32px;
	text-align: center;
	align-content: center;
	justify-content: center;
	/* color: chartreuse; */
	/* background-color: mediumpurple; */
	/* border: 1px solid; */
	/* border-color: aqua; */
	margin-right: 5px;
}

.search-condition-area .awakenSkill.awoken-icon {
	display: block;
	margin-right: 15px;
}

/* 
.aaa>div>.el-collapse-item__header {
	color: red;
}
*/
